 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    justify-content: center;
    margin: 2rem

}

.calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.455);
    border-radius: 10px;
}

.display{
    background-color: rgb(117, 211, 117);
    height: 8rem;
    margin: 1rem;
    border-radius: 10px;
    border: solid 1px #000000;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    padding: 1rem;
}
.display-numero{
    font-size: 2rem;
    align-self: first baseline;
}

.display-result{
    font-size: 3rem;
    text-align: end;
    padding-right: 1rem;
    padding-top: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.back{
    display: flex;
    justify-content: end;
    padding-right: 3rem;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: .5rem;
    justify-content: center;
    gap:.5rem;
    padding-bottom: .5rem;
}

.button{
    width: 5rem;
    height: 5rem;
    background-color: #00000040;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s;
}
.clear{
    color: #ff0000;
}

.operator{
    color: #0aff02fe;
}

.equal{
    background-color: #0aff02fe;
}

.number{
    color: #11e2f9;
}

.button:hover{
    background-color: #023c1873;
}

.button:active{
    background-color: #00ff0a88;
}

.back-btn{
    color: #ff0000;
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    background-color: #00000040;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}